<div class="view" id="imageView">
	<div class="controls toolBar">
		<!--<h1>{{title}}</h1>-->
		<button class="button green" data-ng-click="save()">Save</button>
		<input type="file" accept="application/json" name="loadFile" value="Open File"
			   onchange="angular.element(this).scope().loadFile(this.files)" />
	</div>

	<div class="page" data-pages="{{pages.length}}" data-ng-repeat="page in pages">
		<div class="content layout{{page.numberOfLines}}line" data-images="{{page.images.length}}">
			<figure data-ng-repeat="image in page.images" class="imageContainer horizontal" style="background-image: url('{{image.path}}')">
				<figcaption contenteditable="true" ng-model="image.caption">{{image.caption}}</figcaption>
			</figure>
		</div>
		<div class="controls pageControls">
			<button class="button green" data-ng-click="addImage(page)">(+) Add Image</button>
			<select ng-model="page.numberOfLines" ng-options="l for l in linesPerPageAvailable"></select>
		</div>
	</div>

	<footer class="operationPanel">
		<button class="button green" data-ng-click="addPage()">(+) Add page</button>
	</footer>
</div>