<div class="view" id="imageView">
	<div class="controls toolBar">
		<!--<h1>{{title}}</h1>-->
		<button class="button green" data-ng-click="save()">Save</button>
		<input type="file" accept="application/json" name="loadFile" value="Open File"
			   onchange="angular.element(this).scope().loadFile(this.files)" />
	</div>

	<div class="page" data-pages="{{pages.length}}" data-ng-repeat="page in pages">
		<div class="content layout{{page.numberOfLines}}line" data-images="{{page.images.length}}">
			<figure data-ng-repeat="image in page.images" class="imageContainer {{image.properties['display']}} {{image.properties['position']}}" style="background-image: url('{{image.path}}')">
				<div class="controls imageControls">
					<label>display:</label>
					<select ng-model="image.properties['display']" ng-options="p for p in settings.displayAvailable"></select>
					<label>position:</label>
					<select ng-model="image.properties['position']" ng-options="p for p in settings.positionAvailable"></select>
				</div>
				<figcaption contenteditable="true" ng-model="image.caption">{{image.caption}}</figcaption>
			</figure>
		</div>
		<div class="controls pageControls">
			<button class="button green" data-ng-click="addImage(page)">(+) Add Image</button>
			<!--<input type="text" data-ng-change="addImage(page, this.attribute(value))" />-->
			<select ng-model="page.numberOfLines" ng-options="l for l in settings.linesPerPageAvailable"></select>
		</div>
	</div>

	<footer class="operationPanel">
		<button class="button green" data-ng-click="addPage()">(+) Add page</button>
	</footer>
</div>