.title {
	position: absolute;
	z-index: 10;

	h2 {
		font-size: 2cm;
		color: white;
		padding: 0.25em;
		background: black;
		-webkit-print-color-adjust: exact;
		text-align: center;
		font-weight: bold;
		border-radius: 0.25em;
		margin: 0;
	}

	&[data-size="normal"] h2 { font-size: 1cm; }
	&[data-size="small"] h2 { font-size: 0.5cm; }
	&[data-size="large"] h2 { font-size: 2cm; }
	&[data-size="extraLarge"] h2 { font-size: 4cm; }
	&[data-size="big"] h2 { font-size: 6cm; }
	&[data-size="extraBig"] h2 { font-size: 8cm; }

	&[data-type="standard"] h2 { background: black; background: rgba(0,0,0,0.75); }
	&[data-type="ocean"] h2 { background: rgb(30,144,255); background: rgba(30,144,255,0.75); text-shadow: 0 0 0.05em white; }
	&[data-type="desert"] h2 { background: rgb(139,69,19); background: rgba(139,69,19,0.75); color: white; text-shadow: 0 0 0.05em black; }
	&[data-type="winter"] h2 { background: rgb(255,255,255); background: rgba(255,255,255,0.75); color: white; text-shadow: 0 0 0.05em black; }
	&[data-type="dark"] h2 { background: black; background: rgba(0,0,0,0.75); color: black; text-shadow: 0 0 0.05em white; }
}
