<div class="view" id="imageView">
	<div class="controls toolBar theme dark">
		<img class="icon" src="./Resources/Img/appIcon.png" alt="Photobook Designer Icon" />
		<div class="control">
			<span class="button" data-ng-click="save()" title="Save photobook to file on computer">
				<span class="icon icon-liga">&#xe115;</span>
				<span class="label">Save</span>
			</span>
		</div>
		<div class="control">
			<span class="inputFileWrapper button" title="Open file from computer">
				<input type="file" accept="application/json" name="loadFile" value="Open File" title="Open photobook from file"
					onchange="angular.element(this).scope().loadFile(this.files)" />
				<span class="icon icon-liga">&#xe04c;</span>
				<span class="label">Open</span>
			</span>
		</div>

		<input class="blue" type="text" id="photobookTitle" name="photobookTitle" data-ng-model="photoBook.title" placeholder="Photobook name" />

		<div class="control">
			<label for="pagesPerGroup">Pages per group:</label>
			<select name="pagesPerGroup" id="pagesPerGroup" data-ng-model="pagesPerGroup" data-ng-options="option for option in [2,4,8,16,32,64,128, 256, 512,1024]">
			</select>
			<label for="numberOfTitlePages">Number of title pages:</label>
			<select name="numberOfTitlePages" id="numberOfTitlePages" data-ng-model="numberOfTitlePages" data-ng-options="option for option in [0,1,2,3]"></select>
			<label for="imageQuality">Image quality:</label>
			<input type="range" name="imageQuality" id="imageQuality" min="250" max="5000" step="250" data-ng-model="imageQuality" />
			<output name="imageQualityPx" for="imageQuality">{{imageQuality}}</output>
		</div>
	</div>
	<div class="applicationFrame">
		<div class="controls sidebar">
			<div data-ng-if="getTypeName(currentElement) == 'Page'">
				<div class="controlsSection" data-size="medium">
					<h3><span class="icon icon-liga">&#xe048;</span>Page</h3>
					<div class="controlsSectionContent buttonGrid" data-columns="2">
						<div class="control" data-size="single">
							<button class="button" data-ng-click="photoBook.createPageAfter(currentElement,2)" title="Insert new page after">
								<span class="icon icon-liga">&#xe108;</span>
								<span class="caption">Add after</span>
							</button>
						</div>
						<div class="control" data-size="single">
							<button class="button" data-ng-click="photoBook.movePage(currentElement,-1)" title="Move page one position upwards">
								<span class="icon icon-liga">&#xe00e;</span>
								<span class="caption">Move up</span>
							</button>
						</div>
						<div class="control" data-size="single">
							<button class="button" data-ng-click="photoBook.movePage(currentElement, 1)" title="Move page one position downwards">
								<span class="icon icon-liga">&#xe00b;</span>
								<span class="caption">Move down</span>
							</button>
						</div>
						<div class="control" data-size="single">
							<button class="button" data-ng-click="photoBook.removePage(currentElement)" title="Remove page">
								<span class="icon icon-liga">&#xe12c;</span>
								<span class="caption">Delete page</span>
							</button>
						</div>

						<div class="control" data-size="double" data-columns="2">
							<label>Sections (rows)</label>
							<select data-ng-model="currentElement.properties['sections']" ng-options="l for l in layouts[currentElement.properties['layout']].sections"
									title="Number of sections per page"></select>
						</div>
						<div class="control" data-size="double" data-columns="2">
							<label>Page layout</label>
							<select data-ng-model="currentElement.properties['layout']" ng-options="value for (key,value) in availableLayouts"
									title="Page layout">
							</select>
						</div>
					</div>
				</div>
				<div class="controlsSection" data-size="small">
					<h3><span class="icon icon-liga">&#xe030;</span> Insert</h3>
					<div class="controlsSectionContent buttonGrid" data-columns="2">
						<div class="control" data-size="double">
							<button class="button" data-ng-click="currentElement.createTitle(); setCurrentElement(currentPage.titles[currentPage.titles.length-1], currentPage);" title="Create a new title">
								<span class="icon icon-liga">&#xe034;</span><span class="caption">&nbsp;Title</span>
							</button>
						</div>
				
						<div class="control" data-size="double">
							<textarea 
								class="dragArea" placeholder="Paste image path here" data-ng-input="true"
								data-callback="currentElement.addImagePaths(value); setCurrentElement(currentPage.images[currentPage.images.length-1], currentPage);"
							></textarea>
						</div>
					</div>
				</div>
			</div>

			<div data-ng-if="getTypeName(currentElement) == 'Image'">
				<div class="controlsSection" data-size="medium">
					<h3><span class="icon icon-liga">&#xe048;</span>Image</h3>
					<div class="controlsSectionContent buttonGrid" data-columns="2">
						<div class="control" data-size="double" data-columns="2">
							<!--<label><span class="icon-liga">&#xe053;</span></label>-->
							<label>Horizontal display</label>
							<select data-ng-model="currentElement.properties['display']" ng-options="p for p in layouts[currentPage.properties.layout].image.layouts"
									title="Image display options">
							</select>
						</div>
						<div class="control" data-size="double" data-columns="2">
							<label>Vertical display</label>
							<select data-ng-model="currentElement.properties['verticalStyle']" ng-options="p for p in layouts[currentPage.properties.layout].image.verticalStyles"
									title="Image verticaldisplay options">
							</select>
						</div>

						<div class="control" data-size="double" data-columns="2">
							<!--<label><span class="icon-liga">&#xe093;</span></label>-->
							<label>Alignment</label>
							<select data-ng-model="currentElement.properties['position']" ng-options="p for p in layouts[currentPage.properties.layout].image.positions"
									title="Image position"></select>
						</div>
						<div data-ng-if="currentElement.properties['position'] == 'custom'" class="control range"  data-size="double" data-columns="2">
							<label>&#8614; Horizontal offset</label>
							<input type="range" min="-30" max="0" step="0.25" data-ng-model="currentElement.properties['offsetLeft']"
								   data-ng-init="currentElement.properties['offsetLeft'] = currentElement.properties['offsetLeft'] || 0"
								   title="&#8614; Offset left: {{currentElement.properties['offsetLeft']}}cm" />
						</div>
						<div data-ng-if="currentElement.properties['position'] == 'custom'" class="control range"  data-size="double" data-columns="2">
							<label>&#8615; Vertical offset</label>
							<input type="range" min="-20" max="0" step="0.25" data-ng-model="currentElement.properties['offsetTop']"
								   data-ng-init="currentElement.properties['offsetTop'] = currentElement.properties['offsetTop'] || 0"
								   title="&#8615; Offset top: {{currentElement.properties['offsetTop']}}cm" />
						</div>

						<div class="control" data-size="single">
							<button class="button" data-ng-click="currentPage.moveImage(currentElement,-1)" title="Move image left">
								<span class="icon icon-liga">&#xe00c;</span>
								<span class="caption">move left</span>
							</button>
						</div>
						<div class="control" data-size="single">
							<button class="button" data-ng-click="currentPage.moveImage(currentElement, 1)" title="Move image right">
								<span class="icon icon-liga">&#xe00d;</span>
								<span class="caption">move right</span>
							</button>
						</div>
						<div class="control" data-size="single">
							<button class="button" data-ng-click="currentPage.removeImage(currentElement)" title="Delete image">
								<span class="icon icon-liga">&#xe12c;</span>
								<span class="caption">delete image</span>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div data-ng-if="getTypeName(currentElement) == 'Title'">
				<div class="controlsSection" data-size="medium">
					<h3><span class="icon icon-liga">&#xe048;</span>Title</h3>
					<div class="controlsSectionContent buttonGrid" data-columns="2">
						<div class="control" data-size="double" data-columns="2">
							<label>&dArr; Horizontal position</label>
							<input type="number" data-ng-model="currentElement.properties['top']" title="Position of title from top border" step="0.1" />
						</div>
						<div class="control" data-size="double" data-columns="2">
							<label>&rArr; Vertical position</label>
							<input type="number" data-ng-model="currentElement.properties['left']" title="Position of title from left border" step="0.1" />
						</div>
						<div class="control" data-size="double" data-columns="2">
							<label>&hArr; Width</label>
							<input type="range" min="0" max="25" step="1" data-ng-model="currentElement.properties['width']" title="Title width ({{currentElement.properties['width']}}cm)" />
						</div>
						<div class="control" data-size="double" data-columns="2">
							<label>Size</label>
							<select data-ng-model="currentElement.properties['size']" ng-options="p for p in layouts[currentPage.properties.layout].title.sizes"
									title="Title font size">
							</select>
						</div>
						<div class="control" data-size="double" data-columns="2">
							<label>Style</label>
							<select data-ng-model="currentElement.properties['type']" ng-options="p for p in layouts[currentPage.properties.layout].title.layouts"
									title="Title style type">
							</select>
						</div>
						<div class="control" data-size="single">
							<button class="button" data-ng-click="currentPage.removeTitle(currentElement)" title="Delete title">
								<span class="icon icon-liga">&#xe12c;</span>
								<span class="caption">Delete title</span>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="main">

			<div class="controls welcomeControls" data-ng-if="photoBook.pages.length == 0">
				<div class="control">
					<button class="button" data-ng-click="photoBook.createPage(2,photoBook.pages.length); setCurrentElement(photoBook.pages[0], photoBook.pages[0]);" title="Create new page">
						<span class="icon icon-liga">&#xe108;</span> New page</button>
				</div>
			</div>

			<div class="pageFrame" data-ng-repeat="page in photoBook.pages">
				<div class="controls pageGroupControls" data-ng-if="isGroupStartPage($index)">
					<span data-ng-show="$index == visiblePagesStart" data-ng-click="setVisiblePagesStart(-pagesPerGroup-numberOfTitlePages)">
						{{$index+1}} - {{min(getGroupEndPage($index)+1, photoBook.pages.length)}} of {{photoBook.pages.length}} &#9650;
					</span>
					<span data-ng-hide="$index == visiblePagesStart" data-ng-click="setVisiblePagesStart($index)">
						{{$index+1}} - {{min(getGroupEndPage($index)+1, photoBook.pages.length)}} of {{photoBook.pages.length}} &#9660;
					</span>
				</div>
				<div class="page"
					data-layout="{{page.properties['layout']}}"
					data-ng-if="isPageInGroup($index)"
					data-ng-click="setCurrentElement(page, page); $event.stopPropagation();" data-ng-current="{{currentElement == page && 'true' || 'false'}}">
					<div class="titles" >
						<div data-ng-repeat="title in page.titles"
								class="title {{title.properties['type']}} {{title.properties['size']}}"
								style="top: {{title.properties['top']}}cm; left: {{title.properties['left']}}cm; width: {{title.properties['width']}}cm;"
								data-ng-current="{{currentElement == title && 'true' || 'false'}}"
								data-ng-click="setCurrentElement(title, page); $event.stopPropagation();">
							<div class="controls titleControls">
								<div class="control">
									<span class="icon icon-liga"
									data-dragpoint="true"
									data-pos-left="title.properties['left']"
								  	data-pos-top="title.properties['top']">&#xe093;</span>
								</div>
							</div>
							<h2 contenteditable="true" data-ng-model="title.value" >{{title.value}}</h2>
						</div>
					</div>
					<div class="content" data-images="{{page.images.length}}" data-sections="{{page.properties['sections']}}">
						<figure data-ng-repeat="image in page.images"
								data-layout="{{image.properties['display']}}"
								data-position="{{image.properties['position']}}" data-vertical-style="{{image.properties['verticalStyle']}}"
								data-ng-current="{{currentElement == image && 'true' || 'false'}}"
								class="imageContainer"
								style="background-image: url('http://localhost:8080/api/image?path={{image.path}}&size={{imageQuality}}');
							{{image.properties['position'] == 'custom' &&
							'background-position: '+ (image.properties['offsetLeft'] || 0) + 'cm '+ (image.properties['offsetTop'] || 0)+'cm;' || '' }}"
								data-ng-click="setCurrentElement(image, page); $event.stopPropagation();">

							<figcaption contenteditable="true" data-ng-model="image.caption">{{image.caption}}</figcaption>
						</figure>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
