.layout {
	width: 100%; height: 100%;
	background: rgb(245, 245, 245);
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;
	align-content: space-between;
	overflow: hidden;

	&[data-type="standard"] {
		.image[data-layout="wide"] { width: 100%; }

		&[data-sections="1"] .image {
			height: 100%;
			&[data-layout="slim"] { width: 24.458%; }
			&[data-layout="vertical"] { width: 49.649%; }
			&[data-layout="horizontal"] { width: 100%; }
		}

		&[data-sections="2"] .image {
			height: 49.474%;
			&[data-layout="slim"] { width: 11.868%; }
			&[data-layout="vertical"] { width: 24.458%; }
			&[data-layout="horizontal"] { width: 49.639%; }
			&[data-layout="double"] { width: 100%; }
		}

		&[data-sections="3"] .image {
			height: 32.632%;
			&[data-vertical-style="double"] { height: 66.317%; }
			&[data-layout="slim"] { width: 7.672%; }
			&[data-layout="vertical"] { width: 16.065%; }
			&[data-layout="horizontal"] { width: 32.611%; }
			&[data-layout="double"] { width: 66.185%; }

			&[data-vertical-style="double"][data-layout="slim"] { width: 16.065%; }
			&[data-vertical-style="double"][data-layout="vertical"] { width: 32.611%; }
			&[data-vertical-style="double"][data-layout="horizontal"] { width: 66.185%; }
			&[data-vertical-style="double"][data-layout="double"] { width: 100%; }
		}

		&[data-sections="4"] .image {
			height: 24.211%;
			&[data-vertical-style="double"] { height: 49.475%; }
			&[data-vertical-style="tribble"] { height: 74.739%; }
			&[data-layout="slim"] { width: 4.874%; }
			&[data-layout="vertical"] { width: 10.469%; }
			&[data-layout="horizontal"] { width: 21.580%; }
			&[data-layout="double"] { width: 43.803%; }
		}
	}
}
