.title {
	position: absolute;
	z-index: 10;

	h2 {
		font-size: 2cm;
		color: white;
		padding: 0.25em;
		background: black;
		text-align: center;
		font-weight: bold;
		border-radius: 0.25em;
		margin: 0;
	}

	&[data-current] h2 {
		border: 0.1cm solid cornflowerblue;
		margin: -0.1cm;
	}
}
