.page {
	background: white;
	-webkit-print-color-adjust: exact;
	overflow: hidden;

	.titles {
		position: relative;
	}
}

@media screen {
	.page {
		box-shadow: 0 0 0.5cm gray;
		margin: 0.5cm;
	}
}

@page {
	size: 29.7cm 21cm;
	margin: 1cm;
}

@media print {
	.page {
		padding: 0;
		width: calc(29.7cm - 2cm);
		height: calc(21cm - 2cm);
		page-break-after: always;
	}
}
