#accountView {
	ul {
		& > li  {
			.flex; .flex-flow(row); .justify-content(space-between); .align-items(center); .align-content(stretch);
			.listElement;
			cursor: pointer;

			.userInfo {
				width: 100%; padding: 0.5em; margin-left: 1em;
				text-align: left;

				span {
					display: block; padding: 0.1em 0;
					
					&.username { font-weight: bold; }
				}
			}
			.operations > button {
				height: 100%;
			}
		}
	}

}